.title{
    background-color: purple;
    color: white;
    font-weight: bold;
}

.anime-card{
    height: 50rem;
    max-width: 30rem;
    overflow-y: auto;
    background-color: purple;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    &__info{
        &-genre{
            border-radius: 20px;
            padding: .5rem 1rem;
            display: inline;
            color: white;
            background: black;
        }

        &-genre:not(:last-child){
            margin-right: .5rem;
        }
    }

    &__title{
        display: inline-block;
        font-size: 2.4rem;
        font-weight: bold;
        padding: 2rem 1rem;
    }

    &__description{
        display: inline-block;
        padding: 2rem 1rem;
    }
}

.card-row{
    display: inline-block;
}